In [1]:
#1.Display Hello World
print("Hello World")

Hello World

In [2]:
#2.Addition of two numbers
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a+b
print("The Sum of two numbers is",c)

Enter the value of a: 5
Enter the value of b: 3
The Sum of two numbers is 8

In [3]:
#3.program to swap two values without dummy variable
x=5
y=10
x,y=y,x
print("The value of x is",x,"and y is",y)

The value of x is 10 and y is 5

In [4]:
#4.kilometers to meters
km=int(input("Enter the kilometers: "))
meter=km*1000
print(meter)

Enter the kilometers: 4
4000

In [5]:
#5.Number is positive or negative
num=int(input("Enter the value: "))
if(num>0):
    print("Positive number")
elif(num<0):
    print("Negative number")
else:
    print("Both are equal")

Enter the value: 4
Positive number

In [6]:
#6.Check leap year
year=int(input("Enter the year: "))
if(year %4 == 0)and(year % 100 != 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter the year: 2004
Leap year

In [7]:
#7.display prime numbers
lr=int(input("Enter the value"))
hr=int(input("Enter the value"))
print("prime numbers between",lr,"to",hr,"are")
for num in range(lr,hr+1):
    if num>1:
        for i in range(2,num):
            if(num%i==0):
                break
        else:
            print(num)

Enter the value4
Enter the value9
prime numbers between 4 to 9 are
5
7

In [8]:
#8.fibonacci sequence
r=int(input("Enter the number of terms: "))
t1,t2=0,1
c=0
if r<=0:
    print("positive")
else:
    print("Fibonacci sequence:")
    for i in range(1,r+1):
        print(t1)
        nt=t1+t2
        t1=t2
        t2=nt
        c=c+1

Enter the number of terms: 5
Fibonacci sequence:
0
1
1
2
3

In [1]:
#9.Checking armstrong number
num=int(input("Enter the value: "))
sum=0
ori=num
while(ori>0):
    a=ori%10
    sum+=a**3
    ori//=10
if(num==sum):
    print("Armstrong number")
else:
    print("Not an armstrong number")

Enter the value: 153
Armstrong number

In [2]:
#10.sum of n
r=int(input("Enter the range: "))
sum=0
for i in range(1,r+1):
    sum=sum+i
print(sum)

Enter the range: 5
15

In [4]:
#11.Pattern
r=int(input("Enter the number of rows: "))
for i in range(1,r+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print("\n")

Enter the number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [4]:
#12.Remove characters from string
ini_string1 = 'geeksforgeeks'
n = 5
print("Initial String", ini_string1)
res = ini_string1[5:]
print("Resultant String", res)

Initial String geeksforgeeks
Resultant String forgeeks

In [7]:
#13.Numbers divisible by 5
list=[5,2,10,3,20,30]
for i in list:
    if(i%5==0):
        print(i)

5
10
20
30

In [9]:
#14.Count of substrings
string="Hi This is Hi tech world"
print(string.count('Hi'))

2

In [10]:
#15.Pattern
rows = int(input("Enter number of rows: "))
num=1
for i in range(rows):
    for j in range(i+1):
        print(num, end=" ")
    num+= 1
    print("\n")

Enter number of rows: 5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [26]:
#16.Palindrome number
n=int(input("Enter a three digit number: "))
ori=n
rev=0
while(ori!=0):
    rem=ori%10
    rev=rev*10+rem
    ori=ori//10
print(rev)
if(n==rev):
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a three digit number: 121
121
Palindrome

In [ ]:
#17.swapping first and last elements in a list
newList = [11, 3, 12, 43, 24]
newList[0],newList[-1]=newList[-1],newList[0]
print(newList)

In [41]:
#18.Swap two elements in a list
list1=[11,3,12,43,24] 
pos1=int(input("Enter first position: "))
pos2=int(input("Enter second position: "))
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

Enter first position: 1
Enter second position: 4
[11, 24, 12, 43, 3]

In [3]:
#19.length of a list in python
li = [10, 20, 30]
n = len(li)
print("The length of list is: ", n)

The length of list is:  3

In [4]:
#20.Maximum of two numbers
a = 2
b = 4
if(a>b):
    print("A is greater")
else:
    print("B is greater")

B is greater

In [25]:
#21.Minimum of two numbers in python
a=4
b=2
if(a<b):
    print("A is smaller")
else:
    print("B is smaller")

B is smaller

In [30]:
#22.program to check whether the string is symmetrical or palindrome
string='amaama'
half=int(len(string)/2)
fs=string[:half]
ss=string[half:]
if(fs==ss):
    print("Symmetrical")
else:
    print("Non-Symmetrical")
if string==string[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Symmetrical
Palindrome

In [34]:
#23.# reverse a word in string
string = "class in python programming"
words = string.split()
print(words)
words = list(reversed(words))
print(words)
print(" ".join(words))

['class', 'in', 'python', 'programming']
['programming', 'python', 'in', 'class']
programming python in class

In [36]:
#24.Ways to remove i'th character from string in python
string="GeeksforGeeks"
new=string.replace('e','',1)
print(new)

GeksforGeeks

In [38]:
#25.Find length of a string in python
string="Programming"
print(len(string))

11

In [42]:
#26.Python program to print even length words in a string
string="I love to do painting"
new=string.split()
for i in new:
    if len(i)%2==0:
        print(i)

love
to
do
painting

In [44]:
#27.Find the length of a tuple
tup=(1,2,3,4)
print(len(tup))

4

In [52]:
#28.Python – Maximum and Minimum K elements in Tuple
tup=(1,5,2,8,4,9)
k=2
tup=list(tup)
t=sorted(tup)
res=tuple(t[:k]+t[-k:])
print(res)

(1, 2, 8, 9)

In [58]:
#29.Python – Sum of tuple elements
test_tup = (7,8,9,1,10,7) 
print(test_tup)
r=0
for i in test_tup:
    r=r+i
print(r)

(7, 8, 9, 1, 10, 7)
42

In [1]:
#30.Python – Row-wise element Addition in Tuple Matrix
test_list = [[('Gfg', 3), ('is', 3)], [('best', 1)], [('for', 5), ('geeks', 1)]]
print("The original list is : " + str(test_list))
cus_eles = [6, 7, 8]
res = [[sub + (cus_eles[idx], ) for sub in val] for idx, val in enumerate(test_list)]
print("The matrix after row elements addition : " + str(res))

The original list is : [[('Gfg', 3), ('is', 3)], [('best', 1)], [('for', 5), ('geeks', 1)]]
The matrix after row elements addition : [[('Gfg', 3, 6), ('is', 3, 6)], [('best', 1, 7)], [('for', 5, 8), ('geeks', 1, 8)]]